<div class="user-account-nav user-account-sidebar">
								<div class="user-nav-list">
									<ul>  
                                    {% comment %} #active is so taht side bars elemt would get highlighted by red {% endcomment %}
                                        <li class="{% if 'vendordashboard' in request.path %}active{% endif %}"><a href="{% url 'vendordashboard' %}"><i class="icon-dashboard3"></i>Dashboard</a></li>		
                                        <li class="{% if 'profile' in request.path %}active{% endif %}"><a href="{% url 'vprofile' %}"><i class="icon-building"></i>My Restaurant</a></li>
                                        <li class="{% if 'menu-builder' in request.path %}active{% endif %}"><a href="{% url 'menu_builder' %}"><i class="icon-building"></i>Menu Builder</a></li>
                                            <li class="{% if 'open-hour' in request.path %}active{% endif %}"><a href="{% url 'open_hour' %}"><i class="icon-menu5"></i>Opening Hours</a></li>
                                            <li class="{% if '/my_orders/' in request.path %}active{% endif %}"><a href=" hgf "><i class="icon-add_shopping_cart"></i>Orders</a></li>
                                            <li><a href="restaurant-earnings.html"><i class="icon-money"></i>Earnings</a></li> 
                                            <li><a class="logout-btn" href="{% url 'logout' %}"><i class="icon-log-out"></i>Signout</a></li>
                                                                    </ul>
								</div>
							</div>