{% extends "base.html" %}

{% block content %}
	<!-- Main Section Start -->
		<div class="main-section">
			<div class="page-section nopadding cs-nomargin" style="margin-top: 0px;padding-top: 60px;padding-bottom: 60px;margin-bottom: 0px;">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
							<div class="user-dashboard loader-holder">
								<div class="user-holder">
                            <h4 class="text-center" style="margin-bottom: 0;">SINGN IN</h4>
                            <p class="text-center">Please fill this form to get yourself onboarded in the ByteBasket marketplace.</p>
                            <hr>
                            <div id="restaurant-sets-holder">
                                <form action='{% url "login" %}' class="form-fields-set foodbakery-dev-restaurant-form" method="post" enctype="multipart/form-data"> 
                                {% comment %} #enctyp="multipart/form-data" to receive file from form {% endcomment %}

                                    {% csrf_token %}
                                
                                    <ul class="register-add-restaurant-tab-container restaurant-information-tab-container">
                                        
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="row">
                                                        
                                                            
                                                                <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                                                    <div class="field-holder">
                                                                        <label>Email Address</label>
                                                                        <input type="email" name="email" placeholder="Enter your email address">

                                                                    </div>
                                                                </div>
                                                                
                                                            
                                                            
                                                            
                                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                    <div class="field-holder">
                                                                        <label>Password</label>
                                                                        <input type="password" name="password" placeholder="Enter your Password ">
                                                                    </div>
                                                                </div>
                                                            
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        
                       
                                        <li>
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="field-holder">
                                                        <div class="payment-holder">
                                                            <input type="submit" value="Register" id="btn-next-restaurant-information" class="bgcolor">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        {% comment %} lOAD MESSAGE {% endcomment %}
                                        {% include 'includes/alert.html' %}
                                        
                                    </ul>
                                </form>
                            </div>
                        </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Main Section End -->

{% endblock content %}